.slick-prev:before, .slick-next:before { 
    font-size: 30px; 
    color: white;
}
@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animation-zoom {
    animation: zoomInOut 2s infinite;
  }
  