@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
*::-webkit-scrollbar {
    width: 8px; 
  }
  
  *::-webkit-scrollbar-track {
    background: #2d3748; 
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #4fd1c5; 
    border-radius: 10px; 
    border: 2px solid #2d3748; 
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #38b2ac; /* Darker color on hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin; /* Makes scrollbar thinner */
    scrollbar-color: #4fd1c5 #2d3748; /* thumb color, track color */
  }
  

/* BookCarousel.css */
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  position: absolute;
  top: -20px; 
  right: -20px; 
}

.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
